body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #383838   ;
}
#container{
    text-align: center;
}

#captchaCanvas{
    background-color: #5b7c87;
    width: 85%;
    height: 80%;
    border: 10px solid #1a222d;
}

#text {
	width: 90%;
}

#text {
	margin-bottom: .3125pc;
}

#text {
	padding-left: 6pt;
}   

#text {
	padding-bottom: 6pt;
}

#text {
	padding-right: 6pt;
}

#text {
	padding-top: 6pt;
}

#text,
.inputChat {
	font-size: .9375pc;
}

[class~=desc] {
	padding-left: 3pt;
}

[class~=desc] {
	padding-bottom: 3pt;
}

[class~=desc] {
	padding-right: 3pt;
}

[class~=desc] {
	padding-top: 3pt;
}

[class~=desc] span {
	color: #c6db86;
}



